#me{
	height: auto;
	width: auto;
	max-width: 300px;
}


h1{
	background-color: black;
	color: white;
}


.contact{
	border:2px;
	border-style: solid;
	border-color: black;
	float: left;
	padding: 20px;
	margin: 20px;
}


.about{
	border:2px;
	border-style: solid;
	border-color: black;
	float: left;
	padding: 20px;
	margin:20px;
	width: 60%;
}

li
{
	display: inline;
}

.headerName{
	float:left;
	background-color: green;
	color: white;
	padding: 10px;
}

.headerList{
	float:right;
	padding: 10px;
}

header{
	background-color: #eee;
	border-bottom: 6px black solid;
	padding: 10px;
}

.footer{
	background-color: #eee;
	border-top: 6px black solid;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 98%;
	padding: 10px;

}