body{
	background-image: url("../images/background.png");
	font-family: sans-serif;
}
#me{
	height: auto;
	width: auto;
	max-width: 300px;
}

header{
	background-color: #FFF;
	border-bottom: 2px #BBB solid;
	padding-bottom: 50px;
	font-family: sans-serif;

}

a:link {
	text-decoration: none;
	color: #BBB;
}

a:visited{
	color: white;
	color: #BBB;
}

h1{
	background-color: black;
	color: white;
}

h2{
	color: #4AAAA5;
	font-weight: bold;
	font-size: 24px;
}

.contact{
	border : 1px solid #BBB;
	float: left;
	padding: 20px;
	margin: 20px;
	background-color: white;
	font-family: serif;
	font-size: 24px;
}


.about, .portfolio, .contactField{
	border: 1px solid #BBB;
	float: left;
	padding: 20px;
	margin-top:20px;
	margin-left: 40px;
	width: 50%;
	background-color: white;
	font-family: serif;
	max-height: auto;

}

li
{
	display: inline-block;
}

.nameTitle {
	float: left;
	padding: 25px;
	background-color: #4AAAA5;
	margin-left: 30px;
	font-family: serif;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.aboutNav, .portfolioNav, .contactNav{
	float: right;
	padding: 25px;
	background-color: white;	
}

.pipes{
	float: right;
	padding-top: 25px;
	color: #BBB;
}

.contactNav{
	margin-right: 40px;
}

.footer{
	color: #BBB;
	background-color: #666;
	border-top: 6px #4AAAA5 solid;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 12px;
}